In [13]:
# Import libraries: to Ingest data
import package
from pandas import DataFrame
import mysql.connector

# Setup database connection
# Connect to MySQL database
def get_db_connection():
    connection = None
    try:
        connection = mysql.connector.connect(user='xxx',
        password='xxxxx',
        host='127.0.0.1',
        port='3306',
        database='mini_pipeline')
    except Exception as error:
        print("Error while connecting to database for job tracker", error)
    return connection

In [14]:
# Extract data
sales = package.sales
file_path_csv = r'data\sales_clean.csv'

# Tranform data
## Append lables to dataframe
df = DataFrame(sales,columns=['ticket_id', 'trans_date', 'event_id', 'event_name', 'event_date', 
                              'event_type', 'event_city', 'customer_id', 'price', 'num_tickets'
                             ])

## Convert columns to the appropriate data types
df1 = df.astype({'ticket_id': 'int', 'trans_date': 'datetime64[ns]', 'event_id': 'int', 'event_name': 'str', 'event_date': 'datetime64[ns]', 
                 'event_type': 'str', 'event_city': 'str', 'customer_id': 'int', 'price': 'float', 'num_tickets': 'int'
                })

## Save .csv file
df1.to_csv(file_path_csv)

df1.head()

,ticket_id,trans_date,event_id,event_name,event_date,event_type,event_city,customer_id,price,num_tickets
0,1,2020-08-01,100,The North American International Auto Show,2020-09-01,Exhibition,Michigan,123,35.00,3
1,2,2020-08-03,101,Carlisle Ford Nationals,2020-09-30,Exhibition,Carlisle,151,43.00,1
2,3,2020-08-03,102,Washington Spirits vs Sky Blue FC,2020-08-30,Sports,Washington DC,223,59.34,5
3,4,2020-08-05,103,Christmas Spectacular,2020-10-05,Theater,New York,223,89.95,2
4,5,2020-08-05,100,The North American International Auto Show,2020-09-01,Exhibition,Michigan,126,35.00,1

In [15]:
# Load data
## insert table to database
def load_third_party(connection, file_path_csv):
    cursor = connection.cursor()
    
    # [Iterate through the CSV file and execute insert statement]
    connection.commit()
    cursor.close()
    return

In [ ]:
# Display statistical information
## Query the table and get the selected records
def query_popular_tickets(connection):
    # Get the most popular ticket in the past month
    sql_statement = "<your sql statement>"
    cursor = connection.cursor()
    cursor.execute(sql_statement)
    records = cursor.fetchall()
    cursor.close()
    return records

In [ ]:
# Display the result